/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Roboto&display=swap");

body {
    background-color: white;
    height: 100vh;
    margin: 0px;
}

p {
    color: black;
}

.h-30px {
    height: 30px;
}

.w-30px {
    width: 30px;
}

.h-100px {
    height: 100px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0px;
}

.top-50 {
    top: 50%;
}

.left-50 {
    left: 50%;
}

.left-0 {
    left: 0px;
}

.inline-block {
    display: inline-block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.vertical-top {
    vertical-align: top;
}

.vertical-middle {
    vertical-align: middle;
}
.fix-inline-block {
    margin-left: -4px;
}

.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.w-fit {
    width: fit-content;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-playfair {
    font-family: "Playfair Display", serif;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-black {
    border: 1px solid black;
}

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}


.z-3{
    z-index: 3;
}

.bg-black{
    background-color: black;
}